body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.common-link[href]:hover {
  color: #81b3d2;
}

.common-link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

.sort-item a.sort-link {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-item a.sort-link:hover {
  color: #81b3d2;
}

.sort-item a.sort-link:active {
  color: #000000;

  border-bottom: none;
}

.sort-item a.sort-link.link-current {
  color: #81b3d2;

  border-bottom: none;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

a.current {
  color: #766357;
}

.welcome {
  text-align: center;

  background-color: #ffffff;
  background-image: url(../img/background-photo.jpg);
  background-position: 0 -84px;
}

.welcome-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.welcome-description {
  line-height: 26px;
}

.card {
  text-align: center;
}

.card-title,
.features-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.card-blue {
  color: #ffffff;

  background-color: #81b3d2;
}

.card-grey {
  background-color: #eeeeee;
}

.card-blue .card-title {
  color: #ffffff;
}

.features-list {
  list-style: none;
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.appointment-description {
  line-height: 24px;
  text-align: center;
}

.btn {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-appointment,
.btn-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.btn-appointment,
.btn-brown {
  background-color: #766357;
}

.btn-appointment:hover,
.btn-brown:hover {
  background-color: #604e43;
}

.btn-appointment:active,
.btn-brown:active {
  background-color: #503e33;
}

.btn-search,
.social-btn,
.btn-blue {
  background-color: #81b3d2;
}

.btn-search:hover,
.social-btn:hover,
.btn-blue:hover {
  background-color: #669ec0;
}

.btn-search:active,
.social-btn:active,
.btn-blue:active {
  background-color: #5496bd;
}

.form-row input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.form-row input:hover {
  background-color: #ebebeb;
}

.form-row input:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.modal-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;

  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;

  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;

  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;

  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

.main-footer b {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-copyright span {
  margin-right: 8px;

  color: #000000;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.filters {
  color: #ffffff;

  background-image: url(../img/filter-background.jpg);
  background-position: 0 -55px;
}

.filter-item legend {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
}

.filter-item input {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.filter-item ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;

  opacity: 1;
  /* Firefox */
}

.filter-item :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;

  opacity: 1;
  /* Firefox */
}

.filter-item ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;

  opacity: 1;
  /* Firefox */
}

.filter-item ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;

  opacity: 1;
  /* Firefox */
}

.filter-item :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.filter-item ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.day-cost {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 317px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-field {
  display: flex;
  align-items: center;
}

.btn-display {
  margin-bottom: 10px;
  margin-left: 84px;
  padding: 7px 34px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-display:hover {
  color: #000000;

  background-color: #ffffff;
}

.quantity {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-text,
.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.card-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.rate {
  color: #666666;

  background-color: #f2f2f2;
}

.social-list {
  list-style: none;
}

/* ----- Сеточные стили ----- */
.main-header {
  position: relative;

  background-color: #ffffff;
}

.main-header .main-logo {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  width: 140px;
  height: 72px;

  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 15px 72px;
}

.navigation-list li {
  display: block;
  width: 240px;
}

.navigation-list li:nth-child(3) {
  margin-left: auto;
}

.navigation-list li:nth-child(3),
.navigation-list li:last-child {
  text-align: right;
}

.welcome-top {
  padding-top: 76px;
  padding-bottom: 73px;
}

.welcome-bottom {
  padding-top: 61px;
  padding-bottom: 50px;

  background-color: #ffffff;
}

.welcome-bottom h1 {
  width: 500px;
  margin: 0 auto;
}

.welcome-bottom p {
  margin: 0;
  margin-top: 27px;
  padding: 0 50px;
}

.card-row {
  display: flex;
}

.card-blue {
  padding: 48px 60px 58px 60px;
}

.card .card-title,
.card .card-description,
.features-item .features-title,
.features-item .features-description,
.appointment-title,
.appointment-description {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.card .card-title {
  width: 160px;
  margin: 0 auto;
}

.card-number {
  display: block;
  margin-top: 24px;
  margin-bottom: 21px;
}

.card-img img {
  display: block;
}

.features {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  padding-top: 57px;
  padding-bottom: 80px;
}

::before {
  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
}

.features-item:first-child::before {
  content: "";

  background-image: url(../img/icon-1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item:nth-child(2)::before {
  content: "";

  background-image: url(../img/icon-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item:last-child::before {
  content: "";

  background-image: url(../img/icon-3.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item .features-title {
  margin-top: 29px;
  margin-bottom: 25px;
}

.features-item .features-description {
  width: 300px;
  margin: 0 auto;
}

.card-reverse {
  flex-direction: row-reverse;
}

.card-reverse .card-blue {
  padding: 47px 45px 58px 45px;
}

.card-grey {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 58px;
}

.card-grey .card-description {
  width: 270px;
  margin: 0 auto;
}

.appointment {
  position: relative;

  padding-top: 51px;

  text-align: center;

  background-color: #ffffff;
}

.appointment .appointment-description {
  margin-top: 24px;
  margin-bottom: 47px;
}

.btn-appointment {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-footer {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 36px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.map-wrapper img {
  display: block;
}

.main-footer b,
.footer-copyright {
  width: 400px;

  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.social-btn {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-item:last-child .social-btn {
  margin-right: 0;
}

.social-btn svg {
  margin: auto;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.page-wrapper {
  position: relative;
}

.copyright-btn {
  display: block;
  width: 115px;
  height: 41px;
}

/* Отели */
.footer-hotels {
  position: relative;
}

.filters {
  padding: 27px 72px;
  padding-bottom: 24px;
}

.filter-form {
  display: flex;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form .filter-item:first-child {
  margin-right: 118px;
}

.cost-wrapper {
  margin-left: auto;
}

.cost-wrapper .filter-item:first-child {
  margin-right: 0;
  margin-bottom: 24px;
}

.sort {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 72px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.quantity {
  margin-top: 5px;
  margin-right: 48px;
}

.sort-text {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.sort-item {
  margin-right: 32px;
}

.hotel-catalog {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.hotel-row {
  display: flex;
  padding-top: 25px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
  margin-top: 5px;
  margin-right: 30px;
}

.hotel-img img {
  display: block;
}

.hotel-card .card-title,
.rate {
  margin: 0;
  padding: 0;
}

.hotel-rate {
  margin-left: auto;
}

.rate {
  padding: 3px 12px 3px 16px;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.card-info {
  display: flex;
}

.btn-blue {
  display: block;
  width: 110px;
  margin-right: 6px;
  padding: 3px 0;
}

.btn-brown {
  display: block;
  width: 142px;
  padding: 3px 0;
}

.card-box span {
  margin-top: 7px;
  margin-bottom: 14px;
}

/* Форма основной */
.modal-form {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;

  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.input-wrapper {
  position: relative;

  display: flex;
  box-sizing: border-box;
  width: 346px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 6px 0;
  padding-right: 35px;
  padding-left: 13px;

  text-transform: uppercase;
}

.count-btn {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
}

.form-btn {
  position: absolute;
  top: 20%;
  right: 9px;

  padding: 0;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.form-count,
.count-wrapper {
  display: flex;
}

.count-input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0 3px;

  text-align: center;
}

.form-count {
  justify-content: space-between;
  align-items: center;
  width: 227px;
}

.form-count:last-child {
  width: 180px;
}

.btn-search {
  margin-top: 54px;
  padding: 16px 0;
}

.form-row:last-of-type {
  margin-bottom: 0;
}

.form-btn path,
.count-btn path {
  fill: #cacaca;
}

.form-btn:hover path,
.count-btn:hover path {
  fill: #000000;
}

.form-btn:active path,
.count-btn:active path {
  fill: #81b3d2;
}

/* Форма отели */
/* Customize the label (the container) */
.container {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 14px;
  line-height: 21px;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;

  cursor: pointer;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.checkmark:focus {
  outline: none;
  box-shadow: 0 0 0 3px #8fb9ff;
}

.container input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 9px;

  display: block;
  width: 6px;
  height: 16px;

  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter-wrapper {
  margin-bottom: 25px;
}

.filter-wrapper:last-of-type {
  margin-bottom: 0;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.arrow-up {
  margin-right: 10px;

  border-bottom: 10px solid #b2b2b2;
}

.arrow-up:hover {
  border-bottom: 10px solid #231f20;
}

.arrow-up:active {
  border-bottom: 10px solid #81b3d2;
}

.arrow-down {
  border-top: 10px solid #81b3d2;
}

.sort-arrow {
  margin-left: auto;
}

.cost-wrapper legend {
  margin-bottom: 10px;
}

.svg-logo:hover path {
  fill: #81b3d2;
}

.svg-logo:active path {
  fill: #bdbbbc;
}

.cost-field {
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  padding-bottom: 4px;
}

.field-two label {
  width: 46%;

  text-align: right;
}

.field-two input {
  width: 51%;
  height: 22px;
}

.field-one label {
  width: 52%;

  text-align: right;
}

.field-one input {
  width: 46%;
  height: 22px;
}

.field-one {
  position: relative;
}

.cost-slider {
  position: relative;
  position: relative;

  width: 100%;
  height: 2px;
  margin-top: 18px;
  margin-bottom: 10px;

  background: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  top: 0;
  left: 0;

  width: 80%;
  height: 100%;

  background: #ffffff;
}

.slider-circle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circle-2 {
  left: 80%;
}

.field-one::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 100%;

  width: 2px;
  height: 70%;

  background: #ffffff;
}

.stars {
  width: 18px;
  height: 18px;
  margin-right: 6px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

.stars:last-child {
  margin-right: 0;
}

.hotel-stars {
  display: flex;
  margin: 0;
  margin-top: 4px;
}

.hotel-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#map {
  height: 593px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

@-webkit-keyframes bounce {
  from {
    top: 50%;

    opacity: 0.5;
  }
}

@keyframes bounce {
  from {
    top: 50%;

    opacity: 0.5;
  }
}
