body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.current {
  color: #766357;
}

.welcome {
  text-align: center;
  background-color: #ffffff;
  background-image: url(../img/background-photo.jpg);
  background-position: 0 -84px;
}

.welcome-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.welcome-description {
  line-height: 26px;
}

.card {
  text-align: center;
}

.card-title,
.features-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.card-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.card-grey {
  background-color: #eeeeee;
}

.card-blue .card-title {
  color: #ffffff;
}

.features-list {
  list-style: none;
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.appointment-description {
  line-height: 24px;
  text-align: center;
}

.btn {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-appointment,
.btn-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.btn-appointment,
.btn-brown {
  background-color: #766357;
}

.btn-appointment:hover,
.btn-brown:hover {
  background-color: #604e43;
}

.btn-appointment:active,
.btn-brown:active {
  background-color: #503e33;
}

.btn-search,
.social-btn,
.btn-blue {
  background-color: #81b3d2;
}

.btn-search:hover,
.social-btn:hover,
.btn-blue:hover {
  background-color: #669ec0;
}

.btn-search:active,
.social-btn:active,
.btn-blue:active {
  background-color: #5496bd;
}

.form-row input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.form-row input:hover {
  background-color: #ebebeb;
}

.form-row input:focus {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 2px #e5e5e5;
  outline: none;
}

.modal-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

.main-footer b {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-copyright span {
  color: #000000;
}

.copyright-btn:hover path {
  fill: #81b3d2;
}

.copyright-btn:active path {
  fill: #bdbbbc;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.filters {
  color: #ffffff;
  background-image: url(../img/filter-background.jpg);
}

.filter-item legend {
  font-weight: 700;
  font-size: 16px;
}

.filter-item input {
  font: inherit;
  background-color: transparent;
  border: none;
}

.filter-item ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

.filter-item :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

.filter-item ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

.filter-item ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

.filter-item :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.filter-item ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.day-cost {
  border: 2px solid #ffffff;
}

.btn-display {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.quantity {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-text,
.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dashed #81b3d2;
  -webkit-text-decoration: underline dashed #81b3d2;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;
  text-decoration: none;
}

a.link-current {
  color: #81b3d2;
  text-decoration: none;
}

.card-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.card-title a:hover {
  color: #81b3d2;
}

.card-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.rate {
  color: #666666;
  background-color: #f2f2f2;
}

.social-list {
  list-style: none;
}

/* ----- Сеточные стили ----- */
.main-header {
  position: relative;
  background-color: #ffffff;
}

.main-header .main-logo {
  position: absolute;
  display: block;
  height: 72px;
  width: 140px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-list {
  margin: 0;
  display: flex;
  padding: 15px 72px;
}

.navigation-list li {
  display: block;
  width: 240px;
}

.navigation-list li:nth-child(3) {
  margin-left: auto;
}

.navigation-list li:nth-child(3),
.navigation-list li:last-child {
  text-align: right;
}

.welcome-top {
  padding-top: 76px;
  padding-bottom: 73px;
}

.welcome-bottom {
  padding-top: 61px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.welcome-bottom h1 {
  width: 500px;
  margin: 0 auto;
}

.welcome-bottom p {
  margin: 0;
  margin-top: 27px;
  padding: 0 50px;
}

.card-row {
  display: flex;
}

.card-blue {
  padding: 48px 60px 58px 60px;
}

.card .card-title,
.card .card-description,
.features-item .features-title,
.features-item .features-description,
.appointment-title,
.appointment-description {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.card .card-title {
  width: 160px;
  margin: 0 auto;
}

.card-number {
  display: block;
  margin-top: 24px;
  margin-bottom: 21px;
}

.card-img img {
  display: block;
}

.features {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  padding-top: 57px;
  padding-bottom: 80px;
}

::before {
  display: block;
  height: 76px;
  width: 75px;
  margin: 0 auto;
}

.features-item:first-child::before {
  content: "";
  background-image: url(../img/icon-1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item:nth-child(2)::before {
  content: "";
  background-image: url(../img/icon-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item:last-child::before {
  content: "";
  background-image: url(../img/icon-3.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.features-item .features-title {
  margin-top: 29px;
  margin-bottom: 25px;
}

.features-item .features-description {
  width: 300px;
  margin: 0 auto;
}

.card-reverse {
  flex-direction: row-reverse;
}

.card-reverse .card-blue {
  padding: 47px 45px 58px 45px;
}

.card-grey {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 58px;
}

.card-grey .card-description {
  width: 270px;
  margin: 0 auto;
}

.appointment {
  position: relative;
  padding-top: 51px;
  text-align: center;
  background-color: #ffffff;
}

.appointment .appointment-description {
  margin-top: 24px;
  margin-bottom: 47px;
}

.btn-appointment {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-footer {
  display: flex;
  padding: 36px 0;
  align-items: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.map-wrapper img {
  display: block;
}

.main-footer b,
.footer-copyright {
  width: 400px;
  text-align: center;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 400px;
  justify-content: center;
}

.social-btn {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-btn svg {
  margin: auto;
}

.footer-copyright {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright span {
  margin-right: 8px;
}

.page-wrapper {
  position: relative;
}

.copyright-btn {
  display: block;
  width: 115px;
  height: 41px;
}

/* Отели */
.footer-hotels {
  position: relative;
}

.filters {
  padding: 27px 72px;
  padding-bottom: 33px;
}

.filter-form {
  display: flex;
}

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form .filter-item:first-child {
  margin-right: 118px;
}

.cost-wrapper {
  margin-left: auto;
}

.cost-wrapper .filter-item:first-child {
  margin-right: 0px;
}

.sort {
  display: flex;
  align-items: baseline;
  padding-top: 25px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  background-color: #ffffff;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.quantity {
  margin-right: 48px;
  margin-top: 5px;
}

.sort-text {
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.sort-item {
  margin-right: 32px;
}

.hotel-catalog {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hotel-row {
  padding: 30px 72px;
  padding-bottom: 29px;
  display: flex;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
  margin-right: 30px;
}

.hotel-img img {
  display: block;
}

.hotel-card .card-title,
.rate {
  margin: 0;
  padding: 0;
}

.hotel-rate {
  margin-left: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.rate {
  padding: 3px 10px 3px 16px;
}

.card-box {
  display: flex;
  flex-direction: column;
}

.card-info {
  display: flex;
}

.btn-blue {
  padding: 3px 0;
  display: block;
  width: 110px;
  margin-right: 6px;
}

.btn-brown {
  padding: 3px 0;
  display: block;
  width: 142px;
}

.card-box span {
  margin-top: 2px;
  margin-bottom: 14px;
}

/* Форма основной */
.modal-form {
  box-sizing: border-box;
  padding: 55px;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  width: 568px;
  left: 50%;
  transform: translateX(-50%)
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.input-wrapper {
  box-sizing: border-box;
  width: 346px;
  display: flex;
}

.form-input {
  width: 100%;
  padding: 6px 0;
  padding-left: 13px;
  text-transform: uppercase;
}

.form-btn,
.count-btn {
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  display: block;
  width: 38px;
  height: 38px;
}

.form-count,
.count-wrapper {
  display: flex;
}

.count-input {
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
}

.form-count {
  align-items: center;
  width: 227px;
  justify-content: space-between;
}

.form-count:last-child {
  width: 180px;
}

.btn-search {
  padding: 16px 0;
  margin-top: 54px;
}

.form-row:last-of-type {
  margin-bottom: 0px;
}

.form-btn path {
  fill: #cacaca;
}

.form-btn:hover path {
  fill: #000000;
}

.form-btn:active path {
  fill: #81b3d2;
}
